.card-container {
    margin-top: 100px;

}

.card-container-inner {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 5px;
}

.col-form-label {
    padding-top: 4%;
}

.read-only {
    padding-top: 4%;
    font-weight: 600;
}

.form-group:last-child {
    margin-top: 5%;
}